dataassembly.py
Jay Sayre - sayrejay (at) Gmai|, 

Purpose: Combines various datasets and preps code for analysis (see exploratoryanalysis.R script)

Inputs:

Produced by mergingtariffandindustrydata.py:
"cafta-dr/Output/ISICtwodigitleveltariffs.csv" - tariff averages at the ISIC 2-digit level for 2002 and 2013
    
"cafta-dr/Output/municipalityaveragetariff2002.csv" - municipality level tariff averages (for import competing industries, where import competing is considered harmonized system goods that correspond to ISIC
codes based upon conversion table) for the D.R. in 2002, using estimated industrial activity in a municipality for 2002 produced by the script compute_regional_employment.py

"cafta-dr/Output/municipalityaveragetariff2013.csv" - municipality level tariff averages (for import competing industries, where import competing is considered harmonized system goods that correspond to ISIC
codes based upon conversion table) for the D.R. in 2013, using estimated industrial activity in a municipality for 2010 produced by the script compute_regional_employment.py

Produced by DHSdataaggregation.py:
"averageincomebymunicipality2013.csv" - Average income in each D.R. municipality for 2013

"averageincomebyoccmun2013.csv" - Average income in each D.R. municipality and occupation for 2013

Produced by IPUMSdataaggregation.py:
'averageincomebymunicipality2002.csv' - IPUMS 2002 information on the average income of workers in the private sector for a given D.R. municipality

'averageincomebyoccmun2002.csv' - IPUMS 2002 information on the average income of workers in a given ISIC occupation code for a given D.R. municipality

Outputs:

municipality level dataset - TBD

municipality and occupation level dataset - TBD

In [4]:
import pandas as pd
import os

if os.name == 'nt':
    basedir ="D:/Dropbox/Dropbox (Personal)/College/DR_Paper/"
else:
    basedir ="/home/j/Dropbox/College/DR_Paper/"

outputdir = basedir+'cafta-dr/Output/'
    
## INPUTS
isictariffs = outputdir+'ISICtwodigitleveltariffs.csv' #MUN/OCC
muntariff2002 = outputdir+'municipalityaveragetariff2002.csv' #MUN
muntariff2013 = outputdir+'municipalityaveragetariff2013.csv' #MUN
munavginc2002 = outputdir+'averageincomebymunicipality2002.csv' #MUN
munavginc2013 = outputdir+'averageincomebymunicipality2013.csv' #MUN
munavgincocc2002 = outputdir+'averageincomebyoccmun2002.csv' #MUN/OCC
munavgincocc2013 = outputdir+'averageincomebyoccmun2013.csv' #MUN/OCC

## OUTPUTS
#TBD

In [ ]:
### Build municipality level tariff/income data set aka #MUN

In [24]:
### Build municipality and occupation level tariff/income data set aka #MUN/OCC
munoccdf02 = pd.read_csv(munavgincocc2002)
munoccdf13 = pd.read_csv(munavgincocc2013)
isictwodig = pd.read_csv(isictariffs)

munoccdf13.drop(['PROV','MUN'],1,inplace=True)
munoccdf13.columns = ['occ','singresoo','singrthp','sg117a','singresotp','mun']
isictwodig.columns=['occ','duty02','duty08']

munoccdf = munoccdf02.merge(munoccdf13,on=['occ','mun']) ## Need to investigate merge here
munoccdf = munoccdf.merge(isictwodig,on='occ')#,how='left') ## Also here
munoccdf

,occ,mun,inctot,singresoo,singrthp,sg117a,singresotp,duty02,duty08
0,1,101,5869.480427,20000.000000,11233.330000,500.000000,22166.700000,11.192825,2.159741
1,1,101,5869.480427,25000.000000,23625.000000,5000.000000,30000.000000,11.192825,2.159741
2,1,201,2984.791667,4853.235294,3403.495882,1071.333333,5415.470588,11.192825,2.159741
3,1,201,2984.791667,8320.371429,6490.238286,14235.666667,9995.271429,11.192825,2.159741
4,1,202,2500.000000,9030.000000,11030.000000,NaN,11030.000000,11.192825,2.159741
5,1,202,2500.000000,18580.000000,15657.833333,5150.000000,23020.766667,11.192825,2.159741
6,1,203,4800.000000,8604.000000,5053.928000,4725.000000,13500.000000,11.192825,2.159741
7,1,204,3383.333333,5873.333333,4892.963333,4000.000000,8940.000000,11.192825,2.159741
8,1,204,3383.333333,11341.000000,13049.590000,1874.750000,14873.970000,11.192825,2.159741
9,1,205,2500.000000,8083.000000,11933.000000,6600.000000,11383.000000,11.192825,2.159741
10,1,205,2500.000000,6937.384615,7936.423846,7425.000000,9105.976923,11.192825,2.159741
11,1,206,3383.333333,2150.000000,7557.000000,NaN,2150.000000,11.192825,2.159741
12,1,206,3383.333333,8039.363636,5510.460909,13945.000000,10284.063636,11.192825,2.159741
13,1,208,4800.000000,1720.000000,2646.670000,2000.000000,5420.000000,11.192825,2.159741
14,1,208,4800.000000,5416.909091,4774.477273,2333.333333,6077.518182,11.192825,2.159741
15,1,209,4800.000000,5650.000000,7184.027500,1100.000000,7127.075000,11.192825,2.159741
16,1,209,4800.000000,5287.500000,4272.035000,3850.000000,7029.162500,11.192825,2.159741
17,1,301,3117.318182,3880.000000,4179.816667,3012.800000,6621.826667,11.192825,2.159741
18,1,301,3117.318182,5197.043478,4563.839130,78686.076923,7295.060870,11.192825,2.159741
19,1,302,3117.318182,4226.363636,4658.370909,1440.000000,5553.909091,11.192825,2.159741
20,1,302,3117.318182,13917.571429,7548.829286,2009.750000,15636.000000,11.192825,2.159741
21,1,303,2683.333333,9577.142857,8265.892857,3375.000000,12763.571429,11.192825,2.159741
22,1,303,2683.333333,5408.736842,5544.882632,6350.000000,7582.594737,11.192825,2.159741
23,1,304,3117.318182,3500.000000,1767.554000,1200.000000,3906.660000,11.192825,2.159741
24,1,305,3117.318182,8202.285714,6926.570000,4693.333333,9035.142857,11.192825,2.159741
25,1,401,18776.117647,2580.000000,2778.750000,NaN,2580.000000,11.192825,2.159741
26,1,401,18776.117647,8434.545455,5037.206364,2064.000000,8955.090909,11.192825,2.159741
27,1,402,2711.250000,12900.000000,1981.630000,500.000000,13400.000000,11.192825,2.159741
28,1,402,2711.250000,3655.000000,2468.335000,1050.000000,6180.000000,11.192825,2.159741
29,1,403,4000.000000,3689.285714,2544.142857,9000.000000,4975.000000,11.192825,2.159741
...,...,...,...,...,...,...,...,...,...
933,93,2203,973.841060,5800.000000,4016.670000,3000.000000,6533.300000,0.000000,0.000000
934,93,2205,1018.009642,7850.000000,6223.420000,4836.000000,13340.150000,0.000000,0.000000
935,93,2301,2139.432099,7032.083333,8422.921667,5801.400000,10902.429167,0.000000,0.000000
936,93,2304,1833.619048,8237.500000,5859.582500,NaN,8237.500000,0.000000,0.000000
937,93,2305,2188.236842,5590.000000,27040.000000,NaN,5590.000000,0.000000,0.000000
938,93,2401,2027.500000,5680.000000,8314.361667,4000.000000,8423.066667,0.000000,0.000000
939,93,2403,2105.000000,4157.500000,3660.548750,2666.666667,5315.175000,0.000000,0.000000
940,93,2404,1561.979167,43225.000000,24344.085000,800.000000,43625.000000,0.000000,0.000000
941,93,2501,3511.725000,8630.363636,8078.701515,3808.333333,11324.184848,0.000000,0.000000
942,93,2502,2140.833333,4145.000000,3041.965000,250.000000,4849.150000,0.000000,0.000000
943,93,2503,2403.826087,10000.000000,5444.440000,NaN,10833.300000,0.000000,0.000000
944,93,2505,1623.571429,19000.000000,14095.750000,700.000000,21005.000000,0.000000,0.000000
945,93,2506,2446.250000,8000.000000,13850.000000,NaN,8000.000000,0.000000,0.000000
946,93,2507,2475.923077,6000.000000,4083.335000,NaN,6250.000000,0.000000,0.000000
947,93,2601,1978.954545,4220.000000,2373.500000,NaN,4428.350000,0.000000,0.000000
948,93,2602,1978.954545,3000.000000,5090.000000,NaN,3000.000000,0.000000,0.000000
949,93,2701,1924.628003,10500.000000,7626.250000,1300.000000,11127.075000,0.000000,0.000000
950,93,2702,2206.774623,7279.000000,7462.717000,10612.666667,12022.430000,0.000000,0.000000
951,93,2703,1670.188608,8237.500000,6881.227500,5000.000000,10264.575000,0.000000,0.000000
952,93,2801,1851.222698,5986.842105,11258.190000,15828.571429,9140.878947,0.000000,0.000000
953,93,2802,1748.234322,4075.000000,3820.835000,NaN,4075.000000,0.000000,0.000000
954,93,3001,1612.783784,3575.000000,7391.290000,1500.000000,4533.350000,0.000000,0.000000
955,93,3101,2231.818182,2166.666667,3774.683333,2750.000000,4451.000000,0.000000,0.000000
956,93,3102,1531.250000,12000.000000,12950.000000,10000.000000,22000.000000,0.000000,0.000000
957,93,3201,3102.307918,9316.481481,7874.506296,2566.666667,10556.051852,0.000000,0.000000
958,93,3202,2635.695652,6145.625000,5422.655000,4031.250000,7964.375000,0.000000,0.000000
959,93,3203,2802.388679,8114.117647,10641.147059,4681.000000,11457.141176,0.000000,0.000000
960,93,3204,1996.850000,7348.571429,11159.256429,8650.000000,9854.871429,0.000000,0.000000
961,93,3206,2962.128655,9442.222222,7526.061111,2850.000000,11532.411111,0.000000,0.000000
962,93,3207,2679.545455,3645.000000,5434.860000,NaN,3895.000000,0.000000,0.000000