summarystatistics.py 

Jay Sayre - sayrejay (at) gmai|

Description Pending

Inputs:

'mun_level_isic4dig_DATASET.csv' - contains income and tariff levels at
for 2002 and 2013 at the municipality level (using ISIC four digit, just empresas), to be analyzed later in R
or STATA

'municipality_level_DATASET.csv' - contains income and tariff levels at
for 2002 and 2013 at the municipality level (using ISIC two digit, IPUMS+empresas), to be analyzed later in R
or STATA

'municipality_occupation_level_DATASET.csv' - contains income and tariff levels for 2002 and 2013 at the municipality and occupational level, to be analyzed later in R or STATA

Outputs:

TBA

In [46]:
import pandas as pd
import os

if os.name == 'nt':
    basedir ="D:/Dropbox/Dropbox (Personal)/College/DR_Paper/"
else:
    basedir ="/home/j/Dropbox/College/DR_Paper/"

usd2013todr02pesos = 18.609825*(0.975)
usd2013todr13pesos = 41.8081439153*(0.985)


## INPUTS
munisic4output = basedir+'cafta-dr/Output/mun_level_isic4dig_DATASET.csv'
munoutput = basedir+'cafta-dr/Output/municipality_level_DATASET.csv'
munoccoutput = basedir+'cafta-dr/Output/municipality_occupation_level_DATASET.csv'

## OUTPUT 
summarytable = basedir+'cafta-dr/Plots/summarytable.tex'

In [67]:
## Summary table at the municipality level

mundf = pd.read_csv(munoutput)
mundf.drop(['prov','firstsourceofincome13','incforocc13','totalhhincpercapita13'],1,inplace=True)
mundf['group'] = 1 

mundf['inc02'] = (mundf['inc02']/usd2013todr02pesos)*12
mundf['incpercapita13'] = (mundf['incpercapita13']/usd2013todr13pesos)*12

mundf.columns = ['mun','duty2002','duty2013','income2002','income2013','group']
mundf = mundf.groupby('group',as_index=False)[mundf.columns].mean()
mundf = pd.wide_to_long(mundf,['duty','income'],i='group',j='year').reset_index()
mundf.drop(['group','mun'],1,inplace=True)
mundf.to_latex(summarytable, escape=False, index=False)

In [65]:
## Summary table at the municipality level

munoccdf = pd.read_csv(munoccoutput)
munoccdf.drop(['munocc','occ','incpercapita13','totalhhincpercapita13','incforocc13'],1,inplace=True)
munoccdf['group'] = 1 

munoccdf['inc2002'] = (munoccdf['inc2002']/usd2013todr02pesos)*12
munoccdf['firstsourceofincome13'] = (munoccdf['firstsourceofincome13']/usd2013todr13pesos)*12
munoccdf.columns = ['income2002','income2013','numberworkers2002','numberworkers2010','duty2002','duty2013','group']
munoccdf = munoccdf.groupby('group',as_index=False)[munoccdf.columns].mean()
munoccdf = pd.wide_to_long(munoccdf,['duty','income','numberworkers'],i='group',j='year').reset_index()
munoccdf.drop('group',1,inplace=True)
munoccdf
#munoccdf.to_latex(summarytable, escape=False, index=False)

   year      duty       income  numberworkers
0  2002  6.649909  4190.382346     105.489616
1  2013  0.875555  2322.214885            NaN
2  2010       NaN          NaN     117.293354